@import "layout/footer";
@import "layout/header";
@import "layout/main";
@import "layout/contacto";
@import "layout/preguntasfrec";


@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

body {
    background-color: rgb(255, 255, 255);
    font-family: bebas;
    
}

/*-------GRIDS--------*/
#grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}
/*-----MEDIA-QUERIES-----*/

@media (max-width: 990px) {

    .novedades h3 {
        color: black;
    }

    .novedades p {
        color: black;
    }

    .headerNav nav ul li a {
        font-size: 28px;

    }

    .novedades img{
        height: 300px;
    width: 300px;
    }

}


@media (max-width:901px) {
    .headerNav nav ul li {
        margin: 6px;
    }

    .headerNav nav ul li a {
        font-size: 22px;
    }


}

@media (max-width:685px) {
    #grilla {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 0.25fr;
        row-gap: 20px;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }


    .headerNav nav ul {
        flex-direction: column;

    }

    .novedades h3 {
        font-size: 35px;
    }
    .accordion-item button{
        font-size:40px;
    }
    .accordion-body{
        font-size: 30px;
    }

    .novedades p {
        font-size: 20px;
    }

    .pie h2 {
        font-size: 35px;
    }

    .headerNav nav ul li a {
        font-size: 30px;
    }
    .main section p{
        font-size: 23px;
    }
    .preguntasF h3{
        font-size: 40px;
        
    }


    fieldset {
        margin-right: 5px;
    }
    h1{
        font-size: 50px;
    }
    @keyframes agrandar {
        0% {
            font-size: 10px;
        }
    
        10% {
            font-size: 15px;
        }
    
        20% {
            font-size: 20px;
        }
    
        30% {
            font-size: 25px
        }
    
        40% {
            font-size: 30px;
        }
    
        50% {
            font-size: 35px;
        }
    
        60% {
            font-size: 40px;
        }
    
        70% {
            font-size: 45px;
        }
    
        80% {
            font-size: 50px;
        }

}
}
@media (max-width:420px) {


    .novedades h5{
        font-size: 40px;
    }

    .novedades h3 {
        font-size: 40px;
    }

    .novedades p {
        font-size: 25px;
    }
    fieldset{
        font-size: 25px;
    }

    
}