@import url("../archivos/_variables.scss");

/*----------CONTACTO-----------*/
section {
    p {
        text-align: center;
    }

    form {
        display: map-get($map: $flexs, $key: dp);
        justify-content: map-get($map: $flexs, $key: justifyI);

        fieldset {
            height: 500px;
            width: 700px;
            display: map-get($map: $flexs, $key: dp);
            flex-direction: map-get($map: $flexs , $key: flexD);
            margin-left: 5px;
            padding: 5px;
            justify-content: map-get($map: $flexs, $key: justifyI);
            align-items: map-get($map: $flexs, $key: alignI);

            textarea {
                height: 250px;
                width: 500px;
                border: 1px solid rgb(175, 175, 175);
                border-radius: 10px;
                padding: 5px;
            }

            legend {
                text-align: center;
                font-size: 40px;
            }

        }
    }
}


.inputDatos {
    width: 300px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 14px;
    margin: 5px;
    padding: 8px;
    width: 50%;
    height: 35px;
}

.botonInput {
    margin: 10px;
    color: white;
    background-color: black;

    &:hover {
        background-color: white;
        color: black;
    }

}

.sexRadio {
    margin: 10px;
}