@import url("../archivos/_variables.scss");

/*---PREGUNTAS-FRECUENTES----*/
.preguntasF {
    text-align: center;
}

.pregMain {
    grid-area: main;
    display: map-get($map: $flexs, $key: dp);
    flex-direction: map-get($map: $flexs, $key: flexD);
    justify-content: map-get($map: $flexs, $key: justifyI);
    align-items: map-get($map: $flexs, $key: alignI);


    .accordion {
        width: 70%;

        .accordion-body {
            font-size: 20px;
        }

        .accordion-button {
            font-size: 27px;
        }


    }
}